<ul id="devices" phx-update="prepend">
    <%= for devices <- @devices  do %>

    <%= live_component @socket, ProductWeb.DeviceLive.DeviceComponent, id: devices.id, device: devices %>

    <% end %>
</ul>
